node_modules
.pnpm-store
.turbo
dist
coverage
.DS_Store
.env
.env.local
.env.*.local
apps/web/.next
apps/web/out
apps/mobile/.expo
apps/mobile/dist
apps/mobile/android/.gradle
apps/mobile/android/app/.cxx
apps/mobile/android/app/build
apps/mobile/modules/*/android/.gradle
apps/mobile/modules/*/android/.cxx
apps/mobile/modules/*/android/build
packages/*/dist
apps/api/dist
apps/worker/dist
minio-data
mailpit-data
